@page "/"
@using Domain.Models
@using HttpClients.ClientInterfaces;
@inject IPostService postService;

<h1>Posts</h1>

<div>
    <button @onclick="LoadPosts">Load</button>
</div>

@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No posts to show</p>
}
else
{
    foreach (var item in posts)
    {
        <div>
            <a href="/viewpost?p=@item.Id">
                <div>
                    <h2>@item.Title</h2>
                    <p>@item.Owner.UserName</p>
                </div>
            </a>
        </div>
    }
}

@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    private async void LoadPosts()
    {
        try
        {
            posts = await postService.GetAsync(null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}