@page "/logout"
@inject ILocalStorageService storage;
@inject NavigationManager navManager;
@inject AuthenticationStateProvider authProvider;

<div>
    <h1>Logging out</h1>
    <h3>Redirecting to home screen in few seconds</h3>
</div>

@code {
    protected async override void OnInitialized()
    {
        await storage.RemoveItemAsync("user");
        await authProvider.GetAuthenticationStateAsync();
        navManager.NavigateTo("/");
    }
}