@page "/viewpost"
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager navManager;
@inject IPostService postService;


@if (post == null)
{
    <h1>Please load the post using the load button below</h1>
    <div>
        <button @onclick="OnInitialized">Load</button>
    </div>
}
else
{
    <h1>@post.Title</h1>
    <p>@post.Owner.UserName</p>
    <p>@post.Body</p>
}

@code {
    private IEnumerable<Post>? posts;
    private Post? post;
    private string msg = "";
    private int id;
    
    

    protected override async void OnInitialized()
    {
        var uri = navManager.ToAbsoluteUri(navManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("p", out var _id))
        {
            // Get post with id
            
            try
            {
                bool success = int.TryParse(_id.ToString(), out id);
                if (success)
                {
                    posts =  await postService.GetAsync(null, null, id);
                }

                foreach (var item in posts)
                {
                    if (item.Id == id)
                    {
                        post = item;
                    }
                }
                
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                msg = e.Message;
            }

        }
        else
        {
            post = new Post(new User()
            {
                UserName = "Unknown"
            }, "Error", "An error has occurred");
        }
    }
}
